@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-image: url("imagens/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

button {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    background: linear-gradient (45deg, black, black);
}

button:hover {
    background-color: #555;
    transform: scale(1.03) ease;
}

button:active {
    transform: scale(0.97);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
    transition: scale 0.3s;
}

.toggle:hover {
    color: #555;
    transform: translateY(-50%) scale(1.2);
}